


 {{#each box }}
 <div class="{{_id}}">
    <li class="list-group-item">{{item.color}} </li>
    <li class="list-group-item">
     <img src="{{item.pic.url}}" alt="{{item.pic.name}}">
      </li>
    <li class="list-group-item">
      <img src="{{item.pattern.url}}" alt="{{item.pattern.name}}">
    </li>
   <p class = 'amount'>
<button class="less"  id ='{{_id}}-' type="click">-</button>
 <h3 class="count"> {{amount}} Количество</h3>
<button class="plus" id ='{{_id}}+' type="click">+</button>

<button class='delete' id ='{{_id}}' type="click">Удалить</button>
</p> 
</div>
    {{/each}}



 {{#if box}}
<form action="http://localhost:3000/box/order"><button class='order'  type="click">Оформить заказ</button> </form>
{{else}}
<h2>В вашей корзине пусто. Сделаем дизайн носков?   </h2> <form action="http://localhost:3000/generator"><button  type="click">Сгенерировать Носки!</button></form> 
{{/if}}




<script defer src="/js/box.js"></script>
