


 {{#each box }}
 <div class="{{_id}} ">
   <div class=" flex">
    <p class={{item.color}}>{{item.color}} </p>
   
<p>
     <img height="200px" width="200px" src="{{item.pic.url}}" alt="{{item.pic.name}}">
    </p> 
  <p>
      <img height="200px" width="200px" src="{{item.pattern.url}}" alt="{{item.pattern.name}}">
    </p>
</div>
   <p class = 'amount'>

<div class = 'flex'>

<button class="less btns"  id ='{{_id}}-' type="click">-</button>
 <h2 class="count"> {{amount}} Количество</h2>
<button class="plus btns" id ='{{_id}}+' type="click">+</button>

<button class='delete btns' id ='{{_id}}' type="click">Удалить</button>
</p> </div>
</div>
    {{/each}}



 {{#if box}}
<form action="http://localhost:3000/box/order"><button class='order btns'  type="click">Оформить заказ</button> </form>
{{else}}
<h2>В вашей корзине пусто. Сделаем дизайн носков?   </h2> <form action="http://localhost:3000/generator"><button class="btns"  type="click">Сгенерировать Носки!</button></form> 
{{/if}}




<script defer src="/js/box.js"></script>
