 {{#each box }}
 <div class="{{_id}}">
    <li class="list-group-item">{{item.color}} </li>
    <li class="list-group-item">
     <img src="{{item.pic.url}}" alt="{{item.pic.name}}">
      </li>
    <li class="list-group-item">
      <img src="{{item.pattern.url}}" alt="{{item.pattern.name}}">
    </li>
   <p class = 'amount'>
<button class="less"  id ='{{_id}}-' type="click">-</button>
 <h3 class="count"> {{amount}} Количество</h3>
<button class="plus" id ='{{_id}}+' type="click">+</button>

<button class='delete' id ='{{_id}}' type="click">Удалить</button>
</p> 
</div>
{{/each}}


<script src="/js/box.js"></script>
