

<h2>Сгенерированные носки в избранном:</h2>
 

   {{#each fav }}
<div class="flex">
    <p class="{{color}}"> {{color}} </p>
    <p>
     <img height="200px" width="200px" src="{{pic.url}}" alt="{{pic.name}}">
     </p>
    <p>
      <img height="200px" width="200px" src="{{pattern.url}}" alt="{{pattern.name}}">
    </p>
    
  </div>
  <a href="/favourites/{{_id}}">Поделиться ссылкой</a>
  <a class = 'tobox' href="/favourites/inbox/{{_id}}" >Добавить в корзину</a>
    {{/each}}


<script src="js/favourite.js"></script>
