{{!-- <div class="container">
    <ul>
        {{#each favourites}}
        <li>Color</li>
        <li>Pic</li>
        <li>Pattern</li>
        <a href="{{this._id}}">Поделиться ссылкой</a>
        {{/each}}
    </ul>
</div> --}}

<h2>favourites</h2>
 
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
   {{#each fav }}

    <li class="list-group-item">{{color}} </li>
    <li class="list-group-item">
     <img src="{{pic.url}}" alt="{{pic.name}}">
      </li>
    <li class="list-group-item">
      <img src="{{pattern.url}}" alt="{{pattern.name}}">
    </li>
    <a href="/favourites/{{_id}}">Поделиться ссылкой</a>
  
    {{/each}}
  </ul>
</div>

