

<h3>Сгенерированные носки в избранном:</h3>
 

   {{#each fav }}
<div class="flex">
    <p class="{{color}}"> {{color}} </p>
    <p>
     <img height="200px" width="200px" src="{{pic.url}}" alt="{{pic.name}}">
     </p>
    <p>
      <img height="200px" width="200px" src="{{pattern.url}}" alt="{{pattern.name}}">
    </p>
   
  </div>
<div class="container">
  <form action="/favourites/{{_id}}"><button class = 'tobox btns ' name="/favourites/{{_id}}" >Поделиться ссылкой</button>
  </form>
   
    <button class = 'box tobox btns' name="/favourites/inbox/{{_id}}" >Добавить в корзину</button>
  {{!-- <a href="/favourites/{{_id}}">Поделиться ссылкой</a> --}}
  {{!-- <a class = 'tobox' href="/favourites/inbox/{{_id}}" >Добавить в корзину</a> --}}
  </div>

    {{/each}}


<script src="js/favourite.js"></script>
