

<div class=" flex">
    <p class={{sock.color}}>{{sock.color}} </p>
   
<p>
     <img height="200px" width="200px" src="{{sock.pic.url}}" alt="{{sock.pic.name}}">
    </p> 
  <p>
      <img height="200px" width="200px" src="{{sock.pattern.url}}" alt="{{sock.pattern.name}}">
    </p>
</div>


{{#if login}}
<div class="flex">
<form action="http://localhost:3000/">
    <button class = 'tobox btns' href="http://localhost:3000/">Перейти на главную</button>
</form>

</div>
    {{else}}
    <h3>
      <div class="text-link">
      <p> Не зарегистрированы?</p>
      <p>Зарегистрируйтесь, чтобы создать свой дизайн носков</p>

      </div>
      <div class="flex">
        <form action="http://localhost:3000/login/signUp">
          <button class = 'tobox btns' href="http://localhost:3000/">Регистрация</button>
        </form>
      </h3>
  
    {{/if}}

