

<p>{{user.name}} , Ваш Заказ:</p>

{{#each user.box }}
<div class="{{_id}} ">
  <div class='flex'>
    <p class="{{item.color}}"> {{item.color}} </p> 
    <p>
     <img height="200px" width="200px" src="{{item.pic.url}}" alt="{{item.pic.name}}">
      </p>
  <p>
      <img height="200px" width="200px" src="{{item.pattern.url}}" alt="{{item.pattern.name}}">
   </p>
</div>
   <p class = 'amount'>
 <h3 class="count"> Количество: {{amount}} </h3>


{{/each}}

<p>Ваш E-mail : {{user.email}}</p>

<form class = "ordermodal" action="/box/order" method="POST">
  <p> Мобильный телефон для подтверждения заказа: 
  <input type="phone"  name="phone" placeholder="Phone">
  </p>
 <p> Комментарий к заказу: 
  <input type="text"  name="comment" placeholder="optional field">
  </p>
<button  type="submit">Заказать</button>
</form>
