
<h3>Вы сгенерировали носки со следующими параметрами:</h3>

<div class = 'flex'>
  <p class="{{color}}">Вы выбрали носки {{color}} цвета </p>
  <p>
    <img height="200px" width="200px" src="{{pic.url}}" alt="{{pic.name}}">
  </p>
  <p>
    <img height="200px" width="200px" src="{{pattern.url}}" alt="{{pattern.name}}">
  </p>
</div>


<form action="/generator/favourite" method="POST">
  <button type="submit">Добавить в избранное</button>
</form>

<form action="/generator/box" method="POST">
  <button type="submit">Добавить в корзину</button>
</form>

<form action="/generator/skip" method="POST">
  <button type="submit">Начать заново</button>
</form>
